<div class="container">
  <h1 class="page-header">Welcome back <%= user %>.</h1>
  <h2>Your Reminders:</h2>

<ul class="list-group">
  <% reminders.forEach(function (reminderItem) { %>
    <li class="list-group-item">
      <strong><%= reminderItem.date%></strong><br>
      <strong><%= reminderItem.title %>: </strong>
      <%= reminderItem.description %>
      || Completed:
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">True</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-danger">False</span>
      <% } %>
      <a class="pull-right" href=<%= "/reminder/" + reminderItem.id %>>View</a>
      <br>Subtask: <%= reminderItem.subtask %>
      <br>Tag: <span class="badge badge-success"><%= reminderItem.tag %></span>
    </li>
  <% }) %>
  <% for (let i=0; i < friendsList.length; i++) { %>
    <% let reminderList = friendsList[i] %>
    <% if (reminderList.length > 0) { %>
      <h3><%= names[i] %>'s Reminders:</h3>
    <% } %>
    <% for (let j=0; j < reminderList.length; j++) { %>
      <% let reminderItem = reminderList[j]; %>
        <li class="list-group-item">
          <strong><%= reminderItem.date%></strong><br>
          <strong><%= reminderItem.title %>: </strong>
          <%= reminderItem.description %>
          || Completed:
          <% if (reminderItem.completed == true) { %>
            <span class="badge badge-success">True</span>
          <% } else if (reminderItem.completed == false) { %>
            <span class="badge badge-danger">False</span>
          <% } %>
          <br>Subtask: <%= reminderItem.subtask %>
          <br>Tag: <span class="badge badge-success"><%= reminderItem.tag %></span>
        </li>
        <% } %>
  <% } %>
</ul>

</div>
